# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
CW/Win32Lib/
*.RSC
*.MAP
CW/Demos/Touch X/obj/release/touch.cwproj.FileList.xml
